{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ "base.title"|trans }}</h1>
{% endblock %}

{% block body %}

    <div class="row">
         <a href="{{ path('task_create') }}" class="btn btn-success">{{"link.createNewTask"|trans}}</a>
        <a href="{{ path('task_list') }}" class="btn btn-info">{{"link.taskList"|trans}}</a>
        <a href="{{ path('done_task_list') }}" class="btn btn-secondary">{{"link.DoneTaskList"|trans}}</a>
    </div>
{% endblock %}
