{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            {{ "user.noRegistrateUser"|trans }} <a href="{{ path('user_create') }}"
                                                   class="btn btn-warning pull-right">{{ "user.createButton"|trans }}</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>{{ "user.name"|trans }}</th>
                    <th>{{ "user.adress"|trans }}</th>
                    <th>{{ "user.role"|trans }}</th>
                    <th>{{ "user.modifiate"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>


                        {% set roleUser = 'User' %}
                        {% for role in user.roles %}

                            {% if role == 'ROLE_ADMIN' %}
                                {% set roleUser = 'Admin' %}

                            {% endif %}
                        {% endfor %}
                        <td>{{ roleUser }}</td>
                        <td><a href={{ path('user_roleChange', {'uuid':user.uuid}) }}>{{ "user.modifiate"|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
